html {
  --p-color: #fff;
  --p-text: #000;
  --dp-color: #2B2B2B;
  --dp-text: #fff;

  --ds-color: #2C2C31;
}

iframe {
  color-scheme: normal;
}

.icon svg {
  --apply: w-full h-full;
}


body {
  --at-apply: relative;
}

.dialog-overlay,
.loading-overlay {
  --at-apply: w-full h-full absolute left-0 top-0 bg-black/50 dark:bg-black/60 flex justify-center items-center;
}

.dialog-overlay-show,
.loading-overlay-show {
  --at-apply: flex;
}

.dialog-overlay-hidden,
.loading-overlay-hidden {
  --at-apply: hidden;
}
